*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* //////////// HEADER CONTAINER 1 //////////  */

header nav
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  max-width: 1170px;
  margin: 0 auto;
  color: #3A3A3A;
}

header nav ul
{
  display: flex;
}

header nav .menu
{
  display: none;
}

header nav ul h1
{
  margin-left: 15px;
}

header nav ul li
{
  list-style: none;
  margin-right: 25px;
  cursor: pointer;
}

header nav ul div
{
  display: flex;
}

header nav ul li:hover
{
  border-bottom: 2px solid black;
}



/* //////////// HEADER CONTAINER 2 //////////  */

header section
{
  display: flex;
  max-width: 1170px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: auto;
  padding: 10px;
}

/* ///////////// SECTION 1 ////////// */

header section .section-1
{
  max-width: 582px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    color: #3A3A3A;
}

header section .section-1 h1
{
  font-size: 52px;
  margin-bottom: 16px;
}

header section .section-1 button
{
  width: 196px;
  height: 44px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #E02C6D;
  margin-top: 16px;
  cursor: pointer;
}

/* ///////////// SECTION 2 /////////// */

header section .section-2
{
  background-image: url(../images/Circle\ design.svg);
  background-size: cover;
  max-width: 440px;
}


/* /////////// SECTION 3 //////// */


.section-3
{
  max-width: 1170px;
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 100px auto;
  height: auto;
}

.section-3 img
{
  margin: 10px;
  cursor: pointer;
}



/* //////////////// SECTION 4 //////////// */

main section
{
  max-width: 1147px;
  margin: 0 auto;
}
main section h1
{
  text-align: center;
  color: #3A3A3A;
  font-size: 28px;
}
.main-product-container
{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  column-gap: 30px;
  place-items: center;
  justify-self: center;
}

.main-product-container h2
{
   margin-bottom: 20px;
   color: #3A3A3A;
   font-size: 28px;
}

.product-container
{
  width: 329px;
  height: 476px;
  box-shadow: 0px 0px 20px #3a3a3a52;
  padding: 15px;
  margin-top: 30px;
  border-radius: 5px;
}

.product-container img
{
  width: 300px;
  height: 256px;
  margin-bottom: 16px;
}

.product-container .star
{
  font-size: small;
  color: rgb(251, 130, 0);
  margin-top: 10px;
  margin-bottom: 6px;
}


@media (max-width: 576px)
{
   header nav .menu
   {
    display: block;
    margin-left: 10px;
   }   
   header nav ul div
   {
    display: none;
   }

   header section
   {
    flex-direction: column-reverse;
   }
   header section .section-1 h1
   {
    text-align: center;
   }
   header section .section-1 p 
   {
    text-align: center;
   }
   header section .section-1 button
   {
    align-self: center;
   }
   header section .section-1
   {
    margin-top: 40px;
   }

   .main-product-container
   {
    grid-template-columns: 1fr;
   }

   .product-container
   {
    margin-left: 13px;
   }
   .product-container p
   {
    line-height: 25px;
   }

}


@media (min-width: 576px) and (max-width: 978px) 
{
    header section .section-1
    {
      padding-left: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) 
{
   .main-product-container
   {
    grid-template-columns: 1fr 1fr;
    
   }
}