*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* ///////// PRIMERY SECTION //////// */

.btn-hover:hover
{

  background-color: #0A0826;

}

/* //////////// HEADER CONTAINER 1 //////////  */

header nav
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  max-width: 1170px;
  margin: 0 auto;
  color: #3A3A3A;
}


header nav ul
{
  display: flex;
}

header nav .menu
{
  display: none;
}

header nav ul h1
{
  margin-left: 15px;
}

header nav ul li
{
  list-style: none;
  margin-right: 25px;
  cursor: pointer;
}

header nav ul div
{
  display: flex;
}

header nav ul li:hover
{
  border-bottom: 2px solid black;
}



/* //////////// HEADER CONTAINER 2 //////////  */

header section
{
  display: flex;
  max-width: 1170px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: auto;
  padding: 10px;
}

/* ///////////// SECTION 1 ////////// */

header section .section-1
{
  max-width: 582px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    color: #3A3A3A;
}

header section .section-1 h1
{
  font-size: 52px;
  margin-bottom: 16px;
}

header section .section-1 button
{
  width: 196px;
  height: 44px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #E02C6D;
  margin-top: 16px;
  cursor: pointer;
}

/* ///////////// SECTION 2 /////////// */

header section .section-2
{
  background-image: url(../images/Circle\ design.svg);
  background-size: cover;
  max-width: 440px;
}


/* /////////// SECTION 3 //////// */


.section-3
{
  max-width: 1170px;
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 100px auto;
  height: auto;
}

.section-3 img
{
  margin: 10px;
  cursor: pointer;
}



/* //////////////// MAIN CONTIANER and SECTION 4 //////////// */

main .main-container
{
  max-width: 1147px;
  margin: 0 auto;
}
main .main-container h1
{
  text-align: center;
  color: #3A3A3A;
  font-size: 28px;
}

main .main-container .ancor
{
  text-align: end;
  margin-top: 30px;
  margin-right: 40px;
}

main .main-container .ancor a
{
  color: rgb(224, 44, 109);
  font-weight: bold;
}

.main-product-container
{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  column-gap: 30px;
  place-items: center;
  justify-self: center;
}

.main-product-container h2
{
   margin-bottom: 20px;
   color: #3A3A3A;
   font-size: 28px;
}

.product-container
{
  width: 329px;
  height: 476px;
  box-shadow: 0px 0px 20px #3a3a3a52;
  padding: 15px;
  margin-top: 30px;
  border-radius: 5px;
}

.product-container img
{
  width: 300px;
  height: 256px;
  margin-bottom: 16px;
}

.product-container .star
{
  font-size: small;
  color: rgb(251, 130, 0);
  margin-top: 10px;
  margin-bottom: 6px;
  font-weight: 600;
}

/* //////////////// main container 2 ///////// */

.main-container-2
{
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 80px auto;

}

.main-container-2 div
{
  max-width: 610px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-container-2 div h1
{
  color: #0A0826;

}

.main-container-2 div p
{
  color: #6C6C6C;
  margin: 16px 0px;
}
.main-container-2 div button
{
  width: 155px;
  height: 44px;
  color: #fff;
  border: none;
  background-color: #E02C6D;
  cursor: pointer;
}



/* //////////// FOOTER CONTAINER //////////// */

footer
{
  color: #fff;
  background-color: #0A0826;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 239px;
  line-height: 35px;
  text-align: center;
}

footer .icon 
{
  margin-top: 17px;
  display: flex;
  justify-content: space-evenly;
}

footer .icon i:hover
{
  cursor: pointer;
  color: orangered;
  background-color: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  align-content: center;

}

/* /////////// RESPONSIVE SECTION ///////// */


@media (max-width: 576px)
{
   header nav .menu
   {
    display: block;
    margin-left: 10px;
   }   
   header nav ul div
   {
    display: none;
   }

   header section
   {
    flex-direction: column-reverse;
   }
   header section .section-1 h1
   {
    text-align: center;
   }
   header section .section-1 p 
   {
    text-align: center;
   }
   header section .section-1 button
   {
    align-self: center;
   }
   header section .section-1
   {
    margin-top: 40px;
   }

   header section .section-2 img
   {
     max-width: 270px;
  }

   /* ///////////main section //////// */

   .main-product-container
   {
    grid-template-columns: 1fr;
   }

   .product-container p
   {
    line-height: 25px;
   }

   .main-container-2
   {
    flex-direction: column-reverse;
    padding: 20px;

   }
   .main-container-2 div
   {
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    
   }

}

@media (min-width: 576px) and (max-width: 978px) 
{
    header section .section-1
    {
      padding-left: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) 
{
   .main-product-container
   {
    grid-template-columns: repeat(2 , 1fr);
    
   } 

   header section .section-2 img
   {
     max-width: 330px;
   }

  
   .main-container-2
   {

    flex-direction: column-reverse;
    padding: 20px;

   }

   .main-container-2 div
   {
    max-width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    
   }

}
